body		{background-color:#F2ECDA; color:#000000;}
table, td, th	{border-color:#8C7054;}
.which		{color:#5A3410;}
.class		{border-color:#5A3410;}
a		{color:#000080;}
hr		{color:#8C7054; background-color:#8C7054;}



*:target 	{padding-left: 15px !important;	background:url(BrownArrow.png) no-repeat left center}
